
<div th:fragment="header">
    <div class="row justify-content-center mb-5">
        <div class="col">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div sec:authorize="hasRole('ROLE_USER')" class="collapse navbar-collapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active mr-1">
                            <a class="nav-link" href="/">Главная</a>
                        </li>
                    </ul>
                </div>
                <div sec:authorize="hasRole('ROLE_ADMIN')" class="collapse navbar-collapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active mr-1">
                            <a class="nav-link" href="/">Главная</a>
                        </li>
                        <li class="nav-item active mr-1">
                            <a class="nav-link" href="/admin/questionnaires">Анкеты</a>
                        </li>
                        <li class="nav-item active mr-1">
                            <a class="nav-link" href="/admin/users">Пользователи</a>
                        </li>
                    </ul>
                </div>
                <span th:text="${#authentication.getPrincipal().getUsername()}" style="float:right; margin-right:20px;"></span>
                <form th:action="@{/logout}" method="post" style="float:right">
                    <input type="submit" value="Выйти"/>
                </form>
            </nav>
        </div>
    </div>
</div>