<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
                xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css"/>
    <title>Редактировать анкету</title>
</head>
<body>

<div class="container">

    <div th:insert="layouts/layout :: header"></div>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2>Редактировать анкету</h2>
            <form action="#" th:action="@{/admin/questionnaire/update}" th:object="${questionnaire}" method="post">
                <div class="form-group">
                    <label for="id">ID</label>
                    <input readonly type="text" th:field="*{id}" class="form-control" id="id">
                </div>
                <div class="form-group">
                    <label for="title">Название анкеты</label>
                    <input type="text" th:field="*{title}" class="form-control" id="title">
                </div>
                <br>
                <div class="form-group">
                    <input type="submit" value="Изменить название">
                </div>
                <br>
            </form>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col">
            <table class="table table-striped">
                <thead class="thead-dark">
                <tr>
                    <th style="width: 20%">ID</th>
                    <th style="width: 20%">Вопрос</th>
                    <th style="width: 20%">Варианты ответа</th>
                    <th style="width: 20%"></th>
                    <th style="width: 20%"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="question : ${questionnaire.questions}">
                    <td th:text="${question.id}"></td>
                    <td th:text="${question.questionText}"></td>
                    <td>
                        <div th:each="answer : ${question.answerOptions}">
                            <p th:text="${answer.answerText}"></p>
                        </div>
                    </td>
                    <td><a  th:href="@{/admin/question/update/{id}(id=${question.id})}" class="btn btn-primary">Редактировать</a></td>
                    <td><a th:href="@{/admin/question/delete/{id}(id=${question.id})}" class="btn btn-danger">Удалить</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>